.section {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 16px;
  padding: 32px;
  border-bottom: 1px solid #6161618e;
}
.header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card {
  width: 100%;
  max-width: 150px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  min-height: 100px;
  justify-content: center;
}

.value {
  font-size: clamp(22px, 3vw, 32px);
  font-weight: 600;
}

.label {
  font-size: 13px;
  text-transform: uppercase;
  letter-spacing: 0.06em;
  color: var(--text-secondary);
}
