.main {
  display: flex;
  flex-direction: column;
}
.wrapper {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  gap: 64px;
  box-shadow: none;
  border-radius: 0;
  border: none;
}
