.header {
  width: 100%;
  max-width: 1000px;
  height: 100%;
  max-height: 200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  overflow: hidden;
}
.heroImg {
  display: none;
}
.avatarWrapper {
  padding: 16px;
  width: 100%;
  max-width: 500px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 16px;
}

.avatar {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  overflow: hidden;
  border: 2px solid rgba(255, 255, 255, 0.2);
}

.meta {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.name {
  font-size: clamp(20px, 3.5vw, 28px);
  color: var(--text-secondary);
  margin: 0;
  font-weight: 700;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.email {
  margin: 0;
  font-size: 14px;
  font-size: clamp(16px, 3vw, 20px);
  color: var(--text-secondary);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.badge {
  width: fit-content;
  display: inline-flex;
  align-items: center;
  gap: 6px;
  padding: 4px 12px;
  border-radius: 4px;
  font-size: 14px;
  font-weight: 600;
  background: var(--bg-success);
  color: var(--color-success);
  border: 1px solid var(--bg-success);
}

@media (min-width: 768px) {
  .header {
    min-height: 180px;
  }
  .avatarWrapper {
    padding: 16px 32px;
  }
  .heroImg {
    display: block;
    width: 100%;
    max-width: 600px;
    height: auto;
    mask-image: linear-gradient(270deg, black 10%, transparent 100%);
  }
}
