.badge {
  height: fit-content;
  padding: 4px 10px;
  border-radius: 4px;
  font-size: 12px;
  font-weight: 600;
  text-transform: uppercase;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.badgeActive {
  background: var(--bg-success);
  color: var(--color-success);
  border: 1px solid var(--color-success);
}

.badgeInactive {
  background: var(--bg-error);
  color: var(--color-error);
  border: 1px solid var(--color-error);
}
