.nav,
.close {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: inherit;
  height: 100%;
  padding: 8px 0 32px;
  background: rgba(7, 104, 201, 0.52);
  border-radius: 4px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(8px);
  border: 1px solid rgba(7, 104, 201, 0.3);
}
.open {
  position: absolute;
  left: 5dvw;
  z-index: 10;
  width: 200px;
}
.ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
}
.li {
  width: 100%;
  margin-bottom: 4px;
}

.link,
.open_button,
.button {
  border-radius: 2px;
  padding: 8px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 12px;
  transition: all 0.3s ease-in-out;
  font-size: clamp(16px, 3vw, 20px);
  background-color: transparent;
  border: none;
  color: inherit;
}
.open_button {
  align-self: flex-end;
}
.button {
  border: none;
  background-color: transparent;
  color: inherit;
  font-size: clamp(16px, 3vw, 20px);
  padding: 0;
}
.link_open {
  padding: 8px 32px;
}
.link:hover {
  background-color: var(--brand-primary);
  box-shadow: var(--shadow-dark);
}
.active {
  color: var(--text-secundary);
  background-color: var(--brand-primary);
  box-shadow: var(--shadow-dark);
}
@media (min-width: 1024px) {
  .nav {
    padding: 120px 0 64px;
  }
  .open {
    position: unset;
  }
  .open_button {
    display: none;
  }
}
