.loadingContainer {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}
.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.ul {
  display: flex;
  gap: 16px;
  margin: 16px 0;
  list-style: none;
}

.dot {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: var(--brand-primary);
  animation: bounce 1.4s ease-in-out infinite;
  box-shadow: var(--shadow);
}

.dot:nth-child(2) {
  animation-delay: 0.2s;
}
.dot:nth-child(3) {
  animation-delay: 0.4s;
}
.dot:nth-child(4) {
  animation-delay: 0.6s;
}

.loadingText {
  font-size: 1.25rem;
  color: #666;
  animation: blink 1.6s ease-in-out infinite;
}

@keyframes bounce {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}
