.modalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  
  .modalContent {
    background: transparent;
    max-width: 600px;
    position: relative;

  }
  
  .closeButton {
    font-weight: 900;
    position: absolute;
    top: 48px;
    right: 36px;
    background: transparent;
    border: none;
    font-size: 1.2rem;
    cursor: pointer;
  }
  