.section {
  margin: 100px auto;
  max-width: 1000px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 64px;
  padding: 0 5dvw;
  text-align: center;
}
.aside {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 16px;
}

.ul {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
  margin: 0;
  list-style: none;
}
.li {
  width: 100%;
  height: auto;
  border: 1px solid var(--text-primary);
  padding: 8px 16px;
  border-radius: 8px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 16px;
}
.h4 {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 16px;
  text-align: left;
}
.icon {
  font-size: clamp(22px, 3.5vw, 26px);
  transition: all 0.3s ease-in-out;
}
.icon.open {
  color: var(--brand-primary);
  transform: rotate(-45deg);
}
.description {
  font-size: clamp(18px, 3.5vw, 26px);
  margin-bottom: 32px;
}
.p {
  text-align: left;
}

@keyframes shimmer {
  0% {
    background-position: -400% 0;
  }
  100% {
    background-position: 400% 0;
  }
}
