.section {
  width: 100%;
  max-width: 900px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 32px;
  gap: 32px;
}
.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 8px;
  color: var(--text-secondary);
}
.header_div {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 16px;
}
.header_p,
.back_button,
.submit_button,
.cancel_button {
  padding: 8px 16px;
  border-radius: 4px;
  background-color: var(--bg-card-3);
  font-size: clamp(16px, 3vw, 20px);
  color: var(--text-secondary);
  font-weight: 700;
}
.back_button,
.submit_button,
.cancel_button {
  border: 3px solid var(--bg-card-3);
  padding: 8px 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.cancel_button {
  background-color: transparent;
  border: 3px solid var(--text-secondary);
}
.back_button:disabled {
  cursor: default;
}
.hidden_button {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}
.back_button:hover,
.submit_button:hover,
.cancel_button:hover {
  box-shadow: var(--shadow);
  transform: translateY(-2px);
  color: var(--text-primary);
}
.buttons_div {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
}
.ul_main {
  width: 100%;
  min-height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  list-style: none;
  color: var(--text-secundary);
}
.li {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}
.icon {
  background-color: var(--text-secondary);
  padding: 2px;
  border-radius: 2px;
}
.ul {
  width: 100%;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
  gap: 8px;
}
.location_li {
  width: 100%;
  max-width: 300px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  border-radius: 8px;
  padding: 8px 32px 8px 16px;
  transition: all 0.3s ease-in-out;
  background-color: var(--bg-card-3);
  color: var(--text-secondary);
}
.location_li:hover {
  transform: scale(105%);
}
.location_div {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 16px;
}
.location_p {
  color: var(--text-secondary);
  width: 100%;
}
.arrow {
  font-size: clamp(16px, 3vw, 20px);
}

.h4 {
  font-weight: 500;
  color: var(--text-secondary);
}

.aside {
  box-shadow: var(--shadow-dark);
  border-radius: 16px;
  padding: 24px;
  max-width: 450px;
  width: 100%;
  top: 0;
  left: 0;
}
.aside_header {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-bottom: 24px;
}
.form {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
}

.form_div {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.details_div,
.more_div {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: 16px;
  width: 380px;
  height: -webkit-fill-available;
}
.more_div {
  justify-content: space-between;
}
.input_div {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  gap: 8px;
  color: var(--text-secondary);
}
.textarea_div {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 4px;
  color: var(--text-secondary);
}
.input,
.textarea {
  max-width: 60px;
  border: none;
  color: inherit;
  background-color: transparent;
  text-align: right;
  outline: none;
  font-weight: 400;
  font-size: clamp(14px, 3vw, 18px);
  color: var(--text-secondary);
}
.input::placeholder {
  color: inherit;
}
.counter {
  display: flex;
  align-items: center;
  justify-content: center;
}
.counter_p {
  border-top: 1px solid var(--bg-card-1);
  border-bottom: 1px solid var(--bg-card-1);
  color: var(--text-secondary);
  width: 40px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.add_button,
.rest_button {
  border: 1px solid var(--bg-card-1);
  background-color: var(--bg-card-3);
  color: var(--text-secondary);
  border-radius: 4px 0 0 4px;
  width: 40px;
  height: 32px;
  font-size: clamp(14px, 3vw, 18px);
  cursor: pointer;
}
.add_button {
  border-radius: 0 4px 4px 0;
}
.textarea {
  text-align: left;
  min-width: 100%;
  min-height: 100px;
  border: 1px solid var(--bg-card-1);
  background-color: var(--bg-card-3);
  color: var(--text-secondary);
  border-radius: 8px;
  padding: 8px;
  height: 60px;
  font-family: var(--font-roboto);
  font-size: clamp(14px, 3vw, 18px);
}
.textarea::placeholder {
  color: var(--text-secondary);
}
.button_div {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.aside_button {
  border: none;
  background-color: transparent;
  font-size: 36px;
  color: #d93434ea;
  position: absolute;
  top: 8px;
  right: 8px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.aside_button:hover {
  transform: scale(110%);
}

.label {
  color: var(--text-secondary);
  font-weight: 400;
  font-size: clamp(14px, 3vw, 18px);
}

.form_div {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.div {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.image {
  position: absolute;
  left: -25px;
  bottom: 0;
}
.p {
  padding-left: 20px;
}

/* Chrome, Safari, Edge, Opera */
.input[type='number']::-webkit-outer-spin-button,
.input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.switch {
  position: relative;
  width: 52px;
  height: 28px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--bg-card-3);
  transition: 0.4s;
  border-radius: 28px;
  border: 1px solid var(--bg-card-1);
}

.slider:before {
  position: absolute;
  content: '';
  height: 22px;
  width: 22px;
  left: 1px;
  bottom: 1px;
  background-color: var(--brand-secondary);
  transition: 0.4s;
  border-radius: 50%;
  border: 1px solid var(--brand-secondary);
}

.switch input:checked + .slider {
  background-color: var(--bg-card-3);
  border: 1px solid var(--bg-card-1);
}

.switch input:checked + .slider:before {
  transform: translateX(24px);
  background-color: var(--brand-primary);
}
