.button {
  background-color: transparent;
  border: none;
  font-size: clamp(18px, 3.5vw, 26px);
  font-weight: 700;
  text-shadow: var(--shadow-dark);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  color: inherit;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.button:hover {
  transform: scale(110%);
}
