.section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
  width: 100%;
}
.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 16px;
}
.p {
  font-size: clamp(14px, 3vw, 18px);
  color: var(--text-secondary);
}
.open {
  width: fit-content;
  padding: 6px 12px;
  border-radius: 4px;
  background-color: var(--bg-card-3);
  font-size: clamp(14px, 3vw, 18px);
  color: var(--text-secondary);
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.open:hover {
  box-shadow: var(--shadow);
  transform: translateY(-2px);
  color: var(--text-primary);
}
.hidden {
  display: none;
}
.ul {
  width: 100%;
  padding: 8px;
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  border-radius: 4px;
  justify-content: flex-start;
  align-items: center;
  border: 1px solid var(--text-secondary);
}

.li {
  position: relative;
  width: calc(33.3% - 6px);
  height: auto;
  aspect-ratio: 1 / 1;
  overflow: hidden;
  border-radius: 4px;
  background-color: #f3f3f3;
}

.deleteButton {
  position: absolute;
  top: 4px;
  right: 4px;
  background: var(--bg-card-3);
  border: none;
  border-radius: 4px;
  color: var(--text-secondary);
  font-size: clamp(20px, 3.5vw, 28px);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.2s ease-in-out;
}

.deleteButton:hover {
  transform: scale(1.1);
  background: var(--bg-error);
  color: var(--color-error);
}
