.layout {
  margin: 0 auto;
  padding: 100px 5dvw;
  display: flex;
  justify-content: center;
  height: 100dvh;
  width: 100%;
  background-image: url('/svg/user-background.svg');
  background-position: center;
  background-size: cover;
  gap: 4px;
  position: relative;
}
