.wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
}
.wrapper::before {
  content: '';
  position: fixed;
  inset: 0;
  background-image: url('/svg/user-background.svg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: -1;
  pointer-events: none;
  transform: translateZ(0);
}
.section {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 32px;
  height: 100%;
  width: 100%;
  max-width: 1000px;
  padding: 32px 16px;
  overflow: auto;
  scrollbar-width: none;
}

.h1 {
  font-size: clamp(23px, 4.5vw, 40px);
  font-weight: 600;
}
.h2,
.h4 {
  font-weight: 400;
  font-size: clamp(20px, 3.5vw, 28px);
  color: var(--text-secondary);
}
.header {
  width: 100%;
  padding: 0;
  color: var(--text-secondary);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 16px;
}
.div {
  width: 100%;
  height: max-content;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 32px;
}
.article {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
  width: 100%;
}
.image {
  padding: 4px;
  border-radius: 50%;
  border: 4px solid var(--text-secondary);
}
.table {
  width: 100%;
  max-width: 500px;
}
.tbody {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  gap: 16px;
  width: 100%;
}
.tr,
.verified_p {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  gap: 8px;
  width: 100%;
  font-size: clamp(16px, 3vw, 20px);
  color: var(--text-secondary);
  font-weight: 700;
}

.verified_p {
  width: 100%;
  justify-content: flex-start;
  font-weight: 400;
  font-size: clamp(18px, 3.5vw, 26px);
}
.loading {
  width: 100%;
  padding: 32px 16px;
  text-align: center;
  color: var(--text-secondary);
}

@media (min-width: 768px) {
  .section {
    padding: 32px;
    justify-content: space-around;
  }
  .article {
    flex-direction: row;
    justify-content: flex-start;
    gap: 32px;
  }
  .image {
    width: 100px;
    height: auto;
  }
}
@media (min-width: 1024px) {
  .section {
    justify-content: center;
    gap: 128px;
  }
}
