.main {
  margin-top: clamp(200px, 10vw, 260px);
  display: flex;
  flex-direction: column;
  gap: clamp(64px, 6vw, 80px);
}

.wrapper {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  gap: 64px;
  box-shadow: none;
  border-radius: 0;
  border: none;
}
