.section_stars {
  position: relative;
  max-width: 125px;
  width: 100%;
  max-height: 24px;
}

.div_gray {
  display: flex;
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 0;
}

.div_yellow {
  display: flex;
  overflow: hidden;
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 1;
}

/* Estrella gris (fondo) */
.svg_gray {
  min-width: 25px;
  min-height: 25px;
  fill: rgb(100, 100, 100);
}

/* Estrella amarilla (relleno) */
.svg_yellow {
  min-width: 25px;
  min-height: 25px;
  fill: rgb(255, 193, 22);
  stroke: rgb(134, 99, 0);
  stroke-width: 1px;
}
