.layout {
  margin: 0 auto;
  padding: 100px 5dvw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100dvh;
  height: auto;
  width: 100%;
  gap: 8px;
  position: relative;
}
