.toggleButton {
  width: 36px;
  height: 36px;
  overflow: hidden;
  border: none;
  background: transparent;
  padding: 0;
  margin: 0;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.toggleButton:hover {
  transform: translateY(-2px);
}
.toggleButton:focus {
  outline: none;
}
.iconsWrapper {
  display: flex;
  flex-direction: column;
  transition: transform 0.6s ease-in-out;
}

.dark .iconsWrapper {
  transform: rotate(180deg);
}

.moon,
.sun {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 36px;
}
