.button {
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  transition: all 0.2s ease;
  border: none;
  box-shadow: var(--shadow);
  border-radius: 6px;
}
.button svg {
  filter: drop-shadow(2px 0 4px #1d1d1d);
}
/* Variantes */
.solid {
  background: var(--brand-primary);
  background: linear-gradient(0deg, var(--brand-primary) 0%, var(--button-gradient) 100%);
  color: var(--button-text);
  border: 3px solid var(--brand-primary);
}
.solid_forward:hover,
.solid_confirm:hover,
.solid_open:hover {
  border: 3px solid var(--color-success);
  background: transparent;
  transform: translateY(-2px);
}
.outline_forward:hover,
.outline_confirm:hover,
.outline_open:hover {
  border: 3px solid var(--color-success);
  transform: translateY(-2px);
}

.solid_back:hover,
.solid_cancel:hover,
.solid_close:hover {
  border: 3px solid var(--color-error);
  background-color: transparent;
  transform: translateY(-2px);
}
.outline_back:hover,
.outline_cancel:hover,
.outline_close:hover {
  border: 3px solid var(--color-error);
  transform: translateY(-2px);
}
.borderless {
  background-color: transparent;
  border: none;
  box-shadow: none;
  color: inherit;
  transition: all 0.3s ease-in-out;
}
.borderless:hover {
  color: var(--brand-primary);
}
.outline {
  background: transparent;
  color: var(--button-text);
  border: 3px solid var(--brand-primary);
}
.outline_close {
  background: transparent;
  border: none;
  box-shadow: none;
  color: var(--button-text);
}
.outline_close:hover {
  border: none;
  color: var(--color-error);
}

/* Estado deshabilitado */
.disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

/* Icono */
.icon {
  padding: 8px 12px;
  font-size: clamp(16px, 3vw, 18px);
  display: flex;
  align-items: center;
  justify-content: center;
}

.text {
  border-right: none;
  border-radius: 6px 0 0 6px;
  padding: 8px 12px;
  font-size: clamp(16px, 3vw, 18px);
  font-weight: 700;
}

.skeleton {
  background: var(--bg-secondary);
  color: transparent;
  border: none;
  pointer-events: none;
  animation: pulse 1.5s infinite;
}

.iconSkeleton {
  width: 1.2rem;
  height: 1.2rem;
  background: var(--bg-accent);
  border-radius: 4px;
}

.textSkeleton {
  width: 80px;
  height: 1rem;
  background: var(--bg-accent);
  border-radius: 4px;
}

@keyframes pulse {
  0% {
    opacity: 0.6;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.6;
  }
}
