.main {
  padding: 0 5dvw;
  width: 100%;
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 64px;
}
.wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
}
.header {
  width: 100%;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
}
.logoImage {
  width: 400px;
  height: 100px;
}
.h1 {
  font-weight: 500;
  font-size: clamp(23px, 4.5vw, 48px);
}
.p {
  color: var(--color-warning);
  font-style: italic;
}

.section {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
  box-shadow: var(--shadow-md);
  border-radius: var(--radius-md);
  background: radial-gradient(circle at 70% 110%, var(--card-primary), var(--card-primary-bg));
  backdrop-filter: blur(14px);
  -webkit-backdrop-filter: blur(14px);
  border: 1px solid var(--card-primary-bg);
  max-width: 500px;
  padding: 48px 32px;
}
.p {
  font-size: clamp(14px, 3vw, 18px);
}
.link {
  font-weight: 600;
  color: inherit;
  transition: color 0.3s ease-in-out;
}
.link:hover {
  color: var(--brand-primary);
}

@media (min-width: 1024px) {
  .main {
    gap: 64px;
  }
}
@media (max-width: 768px) {
  .main {
    margin: 0 auto;
    padding: 32px 12px 48px;
    gap: 16px;
  }
  .wrapper {
    padding: 28px 20px;
    max-width: 100%;
    flex-direction: column;
  }
  .section {
    box-shadow: none;
    border-radius: 0;
    background: transparent;
    backdrop-filter: blur(0px);
    -webkit-backdrop-filter: blur(0px);
    border: none;
    padding: 0;
  }
  .logoImage {
    width: 170px;
    height: 40px;
  }
}
@media (max-width: 425px) {
  .main {
    padding: 24px 10px 40px;
  }
  .wrapper {
    padding: 24px 16px;
  }
}
