.section {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px;
}
.h4 {
  width: 100%;
  text-transform: uppercase;
  letter-spacing: 0.08em;
  font-size: clamp(16px, 3vw, 20px);
  font-weight: 500;
  color: var(--text-secondary);
  margin-left: 32px;
}
.ul {
  height: -webkit-fill-available;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 16px;
  list-style: none;
  padding: 0 32px;
}
.li,
.profilLi {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
}
.profilLi {
  gap: 8px;
  padding-left: 8px;
  border-left: 1px solid #6161618e;
}
.profileDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 0;
}
.image {
  border-radius: 50%;
  padding: 4px;
  border: 2px solid #6161618e;
}
.name {
  font-weight: 600;
  font-size: clamp(12px, 3vw, 16px);
  line-height: 1;
}
.role {
  font-size: clamp(8px, 3vw, 12px);
  line-height: 1;
  text-transform: uppercase;
}
