.main {
  width: 100%;
  min-height: 100dvh;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 32px;
}
.denied_header {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 32px;
  width: 100%;
  max-width: 600px;
  background-color: var(--bg-warning);
}
.image_warning,
.image {
  filter: drop-shadow(0 0 4px #3b3b3b);
  padding: 16px;
  border-radius: 8px;
  opacity: 0.8;
  background-color: var(--color-warning);
}
.image {
  background-color: var(--text-secondary);
  filter: drop-shadow(0 0 4px #252525);
}
.article {
  width: 100%;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 16px;
}
.h1 {
  color: var(--color-warning);
  font-size: clamp(23px, 4.5vw, 36px);
}
.heading {
  font-size: clamp(27px, 4.5vw, 48px);
}
.count {
  color: var(--color-warning);
  font-style: italic;
}
.header {
  width: 100%;
  margin: 150px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 64px;
  border-radius: 0;
  color: var(--text-secondary);
}
