.main {
  width: 100%;
}
.button {
  position: absolute;
  bottom: 30px;
  left: 70px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-radius: 50%;
  padding: 4px;
  background: var(--bg-card-3);
  transition: all 0.2s ease-in-out;
  width: fit-content;
  font-size: clamp(20px, 3vw, 24px);
  cursor: pointer;
  color: var(--text-secondary);
  border: 1px solid var(--text-secondary);
}
.button:hover {
  transform: translateY(-2px);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  color: var(--text-primary);
}
.article {
  width: 100%;
  height: max-content;
  position: absolute;
  inset: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  gap: 32px;
}
.aside {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  flex-wrap: wrap;
  list-style: none;
}
.li {
  cursor: pointer;
}
.image {
  overflow: hidden;
  border-radius: 50%;
  padding: 2px;
  background-color: transparent;
  border: 3px solid rgba(184, 184, 184, 0.671);
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}
.image:hover {
  transform: translateY(-2px);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
}
.selected {
  border: 2px solid var(--brand-accent);
  outline: 2px solid var(--brand-accent);
}
.submitButton {
  flex: 1;
  padding: 12px 16px;
  font-weight: 600;
  font-size: clamp(14px, 3vw, 16px);
  border-radius: 6px;
  cursor: pointer;
  border: none;
  background-color: var(--brand-primary);
  color: var(--text-primary);
  transition: all 0.2s ease;
}
.submitButton:hover {
  transform: translateY(-2px);
  box-shadow: var(--shadow);
  color: var(--text-secondary);
}
