.main {
  padding: 0 5dvw;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  /* background-image: url('/svg/user-background.svg');
  background-position: center;
  background-size: cover;
  overflow: visible; */
}

.section {
  width: 100%;
  height: 100%;
  margin: 100px auto;
}

.ul {
  list-style: none;
}
