.main {
  padding: 0 5dvw;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.section {
  margin: 150px auto;
  width: 100%;
  max-width: 1500px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.wrapper {
  padding: 0;
  width: 100%;
  max-width: 900px;
  border-radius: 8px;
}
.ul {
  list-style: none;
}
