.wrapper {
  width: 100%;
  height: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 10;
}
.banner {
  border-radius: 8px;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  padding: 16px 32px;
}
.article {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 16px;
  color: var(--text-secondary);
}
.title {
  margin-top: 0;
}
.controls {
  margin-top: 16px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 16px;
}
.label {
  font-weight: 700;
  font-size: clamp(16px, 3vw, 20px);
}

.switch {
  position: relative;
  width: 52px;
  height: 28px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--bg-primary);
  transition: 0.4s;
  border-radius: 28px;
  border: 1px solid var(--text-secondary);
}

.slider:before {
  position: absolute;
  content: '';
  height: 22px;
  width: 22px;
  left: 1px;
  bottom: 1px;
  background-color: var(--text-secondary);
  border: 1px solid var(--text-secondary);
  transition: 0.4s;
  border-radius: 50%;
}

.switch input:checked + .slider {
  background-color: var(--brand-primary);
  border: 1px solid var(--brand-secondary);
}

.switch input:checked + .slider:before {
  transform: translateX(24px);
  border: 1px solid var(--brand-secondary);
  background-color: var(--bg-card);
}

.button {
  background-color: var(--brand-primary);
  padding: 8px 16px;
  color: var(--text-primary);
  font-size: clamp(14px, 3vw, 18px);
  font-weight: 600;
  border-radius: 4px;
  border: none;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}
.button:hover {
  transform: translateY(-2px);
  box-shadow: var(--sahadow);
}
@keyframes shimmer {
  0% {
    background-position: -468px 0;
  }
  100% {
    background-position: 468px 0;
  }
}

@media (prefers-reduced-motion: reduce) {
  .skeleton {
    animation: none;
  }
}
