.cards {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 16px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.cardItem {
  width: 100%;
  background: var(--bg-card-3);
  border: 1px solid #6161618e;
  border-radius: 4px;
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  cursor: pointer;
}

.cardItemActive {
  border-left: 3px solid var(--color-success);
}

.cardItemInactive {
  border-left: 3px solid var(--color-error);
}

.cardHeader {
  display: flex;
  justify-content: space-between;
  gap: 12px;
}

.cardTitle {
  font-size: clamp(18px, 3vw, 22px);
  margin: 0 0 4px;
  color: var(--text-primary);
}

.cardSubtext {
  margin: 0;
}

.badge {
  height: fit-content;
  padding: 4px 10px;
  border-radius: 4px;
  font-size: 12px;
  font-weight: 600;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.badgeActive {
  background: var(--bg-success);
  color: var(--color-success);
  border: 1px solid var(--color-success);
}

.badgeInactive {
  background: var(--bg-error);
  color: var(--color-error);
  border: 1px solid var(--color-error);
}

.cardMeta {
  display: flex;
  justify-content: space-between;
  gap: 12px;
}

.cardMetaDiv {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 16px;
}

.cardLabel {
  display: block;
}

.cardValue {
  font-size: 16px;
  font-weight: 600;
  color: var(--text-primary);
}

.iconButton {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border: none;
  background: transparent;
  color: var(--text-secondary);
  font-size: clamp(12px, 3vw, 16px);
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.iconButton:hover {
  color: var(--brand-primary);
  transform: translateY(-2px);
  text-shadow: var(--shadow);
}

.emptyState {
  text-align: center;
  padding: 24px 0;
}
