.body {
  width: 100%;
  height: 100dvh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 16px;
  margin: 0 auto;
}
.wrapper {
  padding: 0 5dvw;
  margin: 0 auto;
  width: 100%;
  max-width: 1500px;
  height: 90dvh;
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: auto 1fr;
  gap: 8px;
}
.header {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  grid-row: 1/2;
  grid-column: 1/3;
  padding: 8px;
}
.nav {
  grid-row: 2/3;
  grid-column: 1/2;
  height: 100%;
}
.main {
  padding: 0;
  grid-row: 2/3;
  grid-column: 2/3;
  overflow-y: scroll;
  scrollbar-width: none;
}
