.body {
  height: 100dvh;
  width: 100dvw;
  margin: 0;
  padding: 32px 5dvw;
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: auto 1fr;
  align-items: start;
  gap: 16px;
}

.layout {
  display: contents;
}

.nav {
  grid-row: 1 / 3;
  grid-column: 1 / 2;
  top: 0;
  left: 0;
  height: -webkit-fill-available;
}

.header {
  grid-row: 1 / 2;
  grid-column: 2 / 3;
  top: 0;
  right: 0;
  z-index: 2;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 12px;
  border: none;
  box-shadow: none;
  padding: 0;
  margin: 0;
  border-radius: 0;
}

.main {
  height: 100%;
  grid-row: 2 / 3;
  grid-column: 2 / 3;
  min-height: 0;
  min-width: 0;
  padding: 0;
  overflow: visible;
  scrollbar-width: none;
}
