.section {
  width: 100%;
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 32px;
  padding: 0 5dvw;
  margin: 100px auto;
  margin-top: 0;
}

.header {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 16px;
  color: var(--text-primary);
}

.header h2 {
  font-size: clamp(24px, 4vw, 36px);
  font-weight: 700;
  margin: 0;
}

.header p {
  font-size: clamp(14px, 2vw, 18px);
  margin: 0;
  color: var(--text-secondary);
}

@media (min-width: 1440px) {
  .section {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
  }
  .header {
    text-align: left;
    justify-content: flex-start;
  }
}
