.main {
  width: 100%;
  min-height: 100dvh;
  background-image: url('/svg/user-background.svg');
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}
.wrapper {
  width: 100%;
  max-width: 1000px;
  min-height: 70dvh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 64px;
}
.section {
  width: 100%;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}
.header {
  width: 100%;
  max-width: 400px;
  padding: 32px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 8px;
  border-radius: 4px;
}
.h1 {
  font-weight: 500;
  font-size: clamp(23px, 4.5vw, 48px);
  line-height: 1;
}
.aside {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: baseline;
  gap: 8px;
  margin-top: 64px;
  color: var(--text-secondary);
}
.p {
  font-size: clamp(14px, 3vw, 18px);
}
.link {
  font-size: clamp(14px, 3vw, 18px);
  font-weight: 600;
  color: inherit;
  transition: color 0.3s ease-in-out;
}
.link:hover {
  color: var(--brand-primary);
}

@media (max-width: 1440px) {
}
@media (max-width: 1024px) {
}

@media (max-width: 768px) {
}
@media (max-width: 425px) {
}
