.section {
  width: 100dvw;
  height: 100dvh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}
.wraper {
  width: 100%;
  max-width: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 32px;
  border-radius: 8px;
  backdrop-filter: blur(8px);
  box-shadow: var(--shadow);
  padding: 16px;
}

.image {
  filter: drop-shadow(0 0 4px #3b3b3b);
  padding: 16px;
  border-radius: 8px;
  opacity: 0.8;
}
.article {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 8px;
  text-align: left;
}
.button_group {
  margin-top: 16px;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 8px;
}
.cancel_button,
.confirm_button {
  font-size: clamp(16px, 3vw, 20px);
  font-weight: 700;
  padding: 4px 16px;
  border-radius: 4px;
  border-width: 2px;
  border-style: solid;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.cancel_button:hover,
.confirm_button:hover {
  box-shadow: var(--shadow);
  transform: translateY(-4px);
}
.confirm_button {
  color: inherit;
}
