.toggleGrid {
  flex-direction: row;
  gap: 10px;
  flex-wrap: wrap;
}

.item {
  width: 100%;
}

.choiceButton {
  max-width: 180px;
  color: var(--text-secondary);
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
