.serviceGrid {
  justify-content: center;
  align-items: center;
}

.serviceItem {
  width: 100%;
}

.serviceButton {
  padding: 14px 16px;
  color: var(--text-secondary);
}

.serviceTitle {
  font-weight: 700;
  color: var(--text-secondary);
}
