.main {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
  padding: 8px 16px;
  border: 1px solid rgba(185, 189, 193, 0.18);
  border-radius: 4px;
}
.article {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 8px;
}
.image {
  width: 200px;
  height: auto;
}
.h3,
.h4 {
  font-size: clamp(16px, 3vw, 20px);
  font-weight: 700;
}
.p {
  max-width: 300px;
  font-size: 14px;
  font-weight: 100;
}
