.nav {
  width: 100%;
  max-width: 100dvw;
  overflow: hidden;
  display: flex;
  align-items: center;
  position: fixed;
  padding-top: env(safe-area-inset-top);
  top: 0;
  left: 0;
  margin: 0 auto;
  z-index: 100;
  color: var(--text-primary);
  background: radial-gradient(
    circle at 40% 110%,
    var(--bg-1),
    var(--bg-2),
    var(--bg-3),
    var(--bg-4),
    var(--bg-5),
    var(--bg-6),
    var(--bg-7),
    var(--bg-8),
    var(--bg-9),
    var(--bg-10),
    var(--bg-11),
    var(--bg-12)
  );
}
.desktop,
.desktopUl {
  padding: 8px 5dvw;
  max-width: 1700px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.desktopLogo {
  transition: transform 0.2s ease-in-out;
}
.desktopLogo:hover {
  transform: translateY(-2px);
}
.desktopUl {
  list-style: none;
  justify-content: center;
  gap: 16px;
}
.desktopLi {
  color: var(--text-primary);
  font-weight: 600;
  font-size: clamp(14px, 3vw, 18px);
  padding: 8px 16px;
  border-radius: 4px;
  background: transparent;
  border: none;
  width: fit-content;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.desktopLi:hover {
  background-color: var(--brand-primary);
  transform: translateY(-2px);
  box-shadow: var(--shadow);
}
.desktopAside {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
}
.mobile {
  width: 100%;
  padding: 8px 5dvw;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
  gap: 32px;
}
.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.mobileAside,
.asideDiv {
  display: flex;
  flex-wrap: wrap-reverse;
  justify-content: flex-end;
  align-items: center;
  gap: 16px;
}
.asideDiv {
  width: 200px;
}
.button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: none;
  color: var(--text-secondary);
  font-size: clamp(24px, 3vw, 30px);
  cursor: pointer;
}
