.main {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 24px;
}

.section {
  width: 100%;
  height: -webkit-fill-available;
  padding: 32px;
  max-width: 760px;
  border-right: 1px solid #6161618e;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 24px;
}

.panel {
  width: 100%;
  padding: 32px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.header {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.subtitle {
  color: var(--text-secondary);
}

.scrollArea {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 24px;
  overflow: auto;
  scrollbar-width: none;
  -webkit-mask-image: linear-gradient(
    to bottom,
    transparent 0%,
    black 6%,
    black 94%,
    transparent 100%
  );
  mask-image: linear-gradient(to bottom, transparent 0%, black 6%, black 94%, transparent 100%);
}

@media (max-width: 980px) {
  .main {
    flex-direction: column;
  }

  .section {
    max-width: 100%;
    border-right: none;
    border-bottom: 1px solid #6161618e;
  }
}
