.ul {
  width: 100%;
  max-width: 900px;
  height: 60dvh;
  overflow-y: hidden;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 32px 0;
}
.li {
  width: 100%;
}
