.section {
  width: 100%;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 32px;
}

.title {
  font-weight: 600;
  color: var(--text-primary);
}

.steps {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 16px;
  list-style: none;
}

.step {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 16px;
}

.aside,
.article {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 6px;
}
.aside {
  color: var(--text-primary);
  align-items: center;
  justify-content: space-between;
  height: -webkit-fill-available;
}
.icon {
  color: var(--text-secondary);
  font-size: clamp(23px, 4.5vw, 36px);
}
.span {
  height: 60%;
  border: 1px solid var(--text-secondary);
}
.stepTitle {
  color: var(--text-secondary);
}
.stepDescription {
  color: var(--text-secondary);
}
