.wrapper {
  height: 100%;
  max-height: 60dvh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  gap: 8px;
}
.list {
  display: flex;
  flex-direction: column;
  gap: 4px;
  justify-content: flex-start;
  align-items: stretch;
  list-style: none;
  padding: 16px 4px;
  margin: 0;
}

.listItem {
  margin: 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 8px;
}

.link {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 8px;
  padding: 8px 16px;
  color: var(--text-secondary);
  text-decoration: none;
  transition: all 0.2s ease;
  border-radius: 4px;
  border: none;
  background: none;
}

.icon,
.label {
  font-size: var(--type-body-md-size);
  font-weight: 700;
}

.link:hover,
.link:focus-visible {
  background: rgba(255, 255, 255, 0.1);
  border-color: rgba(255, 255, 255, 0.2);
  outline: none;
}

.active {
  backdrop-filter: blur(14px);
  -webkit-backdrop-filter: blur(14px);
  background-color: radial-gradient(
    circle at 70% 110%,
    var(--card-primary),
    var(--card-primary-bg)
  );
  border: 1px solid var(--card-primary-bg);
  color: var(--text-primary);
}

@media (max-width: 640px) {
  .label {
    display: none;
  }
}
