.header {
  padding: 0 5dvw;
  margin: 0;
  width: 100%;
  height: 600px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.header::before {
  content: '';
  position: absolute;
  inset: 0;
  background-image: url('/images/about-hero.webp');
  background-repeat: no-repeat;
  background-size: auto;
  background-position: left;
  opacity: 0.5;
  z-index: 0;
}
.container {
  width: 100%;
  max-width: 750px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 14px;
  padding: 16px 32px;
}

.title {
  margin: 0;
  color: var(--text-primary);
  font-size: clamp(30px, 4.4vw, 42px);
  font-weight: 800;
  line-height: 1.1;
  text-align: center;
}

.description {
  text-align: center;
  margin: 0;

  color: var(--text-primary);
}

@media (min-width: 1200px) {
  .header {
    padding: 16px;
  }
  .header::before {
    background-size: cover;
    background-position: center;
  }
}
