.button {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 8px;
  padding: 8px;
  font-size: clamp(14px, 3vw, 18px);
  color: var(--text-secondary);
  font-weight: 600;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  background-color: transparent;
  border: none;
}
.button:hover:not(:disabled) {
  transform: translateY(-2px);
}

.button:disabled {
  cursor: not-allowed;
  opacity: 0.6;
}
.label {
  width: 100%;
}
.span {
  width: 100%;
  border: 1px solid #6161618e;
}
