.sidebar {
  height: 100%;
  width: 100%;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.sidebarHeader {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
}
.logoWrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo {
  margin: 16px;
}
.navList,
.footerList {
  padding: 32px 16px;
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  gap: 4px;
}
.footerList {
  margin-bottom: 16px;
}
.sidebarFooter {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.navItem {
  width: 100%;
}
.navLink,
.logoutButton,
.toggleButton {
  border-radius: 4px;
  padding: 8px 16px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 12px;
  transition: all 0.3s ease-in-out;
  font-size: clamp(14px, 3vw, 18px);
  background-color: transparent;
  border: none;
  color: var(--text-primary);
  font-weight: 600;
  cursor: pointer;
}
.logoutButton {
  width: 100%;
  margin-top: 8px;
}
.toggleButton {
  font-family: var(--font-family-body);
  width: -webkit-fill-available;
  margin: 0 16px 32px 16px;
}

.navLinkCompact {
  justify-content: center;
  padding: 8px;
  gap: 0;
}
.navLinkFull {
  justify-content: flex-start;
}
.navLink:hover,
.logoutButton:hover,
.toggleButton:hover {
  color: var(--text-inverse);
  background-color: var(--brand-primary);
  box-shadow: var(--shadow-dark);
}
.active {
  color: var(--text-inverse);
  background-color: var(--brand-primary);
  box-shadow: var(--shadow-dark);
}
