/* ServiceCart.module.css */

.cartButton {
  position: fixed;
  bottom: 5dvh;
  right: 5dvw;
  background: var(--button-gradient);
  border: none;
  border-radius: 8px;
  font-size: clamp(23px, 4.5vw, 36px);
  color: var(--button-text);
  padding: 16px;
  box-shadow: var(--shadow);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.cartButton:hover {
  transform: translateY(-4px);
}
.cartButton:active {
  transform: translateY(4px);
}

.badge {
  position: absolute;
  top: -6px;
  right: -6px;
  background: var(--button-text);
  color: var(--button-gradient);
  border-radius: 50%;
  font-size: clamp(16px, 3vw, 20px);
  padding: 2px 8px;
  box-shadow: var(--shadow);
}

.overlay {
  position: fixed;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
}

.modal {
  width: 100%;
  max-width: 550px;
  animation: fadeIn 0.25s ease-in-out;
}

.header {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
  gap: 6px;
}

.close {
  background: none;
  border: none;
  font-size: clamp(20px, 3.5vw, 28px);
  cursor: pointer;
  color: var(--text-secondary);
  transition: all 0.3s ease-in-out;
}
.close:hover {
  color: var(--color-error);
  transform: translateY(-4px);
}
.close:active {
  color: var(--text-secondary);
  transform: translateY(4px);
}

.h4 {
  color: var(--text-primary);
  align-self: center;
  padding: 16px 32px;
  margin-bottom: 16px;
  border-bottom: 1px solid var(--text-primary);
}

.footer {
  margin-top: 1.5rem;
  display: flex;
  justify-content: flex-end;
}

.checkoutBtn {
  background: var(--primary-color);
  color: white;
  border: none;
  border-radius: 8px;
  padding: 0.75rem 1.25rem;
  cursor: pointer;
  font-weight: 500;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
