.comment_ul,
.li_preview,
.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  list-style: none;

}

.section {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 16px;
}
.image {
  border-radius: 50%;
}
.card {
  gap: 8px;
  margin-bottom: 32px;
}
.article_div {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 32px;

}
.date {
  font-size: clamp(10px, 3vw, 14px)
}

.buttons {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 8px;
}
.button_replay,
.button_delete {
  background-color: transparent;
  border: none;
  color: #9b9a9a;
  transition: all 0.2s ease-in-out;
  font-weight: 700;
  cursor: pointer;
}

.button_replay:hover {
  color: #2c6aefe5;
}
.button_delete:hover {
  color: #ff4546;
}
