.form_div,
.aside {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  gap: 8px;
  min-height: 130px;
}

.form {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 16px;
  gap: 16px;
}
.h4 {
  width: 100%;
}
.input {
  width: 100%;
  border: none;
  outline: none;
  resize: none;
  scrollbar-width: none;
  background: #303030;
  color: inherit;
  font-family: var(--font-roboto);
  box-shadow: none;
  padding: 8px;
  border-radius: 4px;
  transition: border 0.2s;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: clamp(14px, 3vw, 18px);
  color: #aaa;
}
.input:focus {
  border: none;
}

.input::placeholder {
  color: #aaa;
  opacity: 1;
}
.button {
  border: none;
  background-color: transparent;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}
.button:hover {
  transform: scale(105%);
}
.button:active {
  transform: scale(95%);
}
.close_button {
  border: none;
  background-color: transparent;
  color: #ff4546;
  transition: all 0.2s ease-in-out;
  font-weight: 700;
  font-size: clamp(18px, 3vw, 22px);
  cursor: pointer;
}

.close_button:hover {
  color: #a02626;
}

