.ul {
  width: 100%;
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
}
.li,
.header_li {
  width: 100%;
  padding: 16px 32px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  gap: 16px;
}
.header_li {
  align-items: flex-start;
  border-bottom: 1px solid var(--text-secondary);
}
.header {
  color: var(--text-secondary);
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  gap: 16px;
  margin-bottom: 16px;
}
.table {
  width: 100%;
  border-collapse: collapse;
  color: var(--text-secondary);
  font-size: clamp(16px, 3vw, 20px);
}
.table td {
  text-align: end;
}
.edit_button {
  border: none;
  background-color: transparent;
  font-size: clamp(16px, 3vw, 20px);
  color: var(--text-primary);
  font-weight: 600;
}

.div {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 8px;
}

.main {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 16px;
}
.button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 35px;
  height: 35px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition-duration: 0.3s;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.199);
  background-color: transparent;
  border: 3px solid #e65353;
}
/* hover effect on button width */
.button:hover {
  width: 100px;
  border-radius: 8px;
  transition-duration: 0.3s;
}
.delete {
  color: #f5440f;
}
