.ul {
  width: 100%;
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
}
.li {
  padding: 8px;
  margin-bottom: 8px;
  border-radius: 4px;
  border: 1px solid var(--text-secondary);
}
.li,
.header_li {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 16px;
}
.header_li {
  align-items: flex-start;
  border-bottom: 1px solid var(--text-secondary);
}
.header {
  color: var(--text-secondary);
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  gap: 8px;
  padding: 8px 16px;
}
.article {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.aside {
  width: 100%;
  padding: 0 32px 32px 32px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
  gap: 16px;
  color: var(--text-secondary);
}
.aside p {
  align-self: flex-start;
}
.table {
  width: 100%;
  font-size: clamp(16px, 3vw, 20px);
  border-spacing: 0 8px;
  border-bottom: 1px solid var(--text-secondary);
  border-top: 1px solid var(--text-secondary);
}
.table td {
  text-align: end;
}
.open_button {
  border: none;
  font-size: clamp(16px, 3vw, 20px);
  color: var(--text-secondary);
  cursor: pointer;
  padding: 4px 16px;
  background-color: var(--bg-card-3);
  border-radius: 4px;
  transition: all 0.3s ease-in-out;
}
.open_button:hover {
  transform: translateY(-4px);
  color: var(--text-primary);
  box-shadow: var(--shadow);
}
.span {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 8px;
}

.div {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 8px;
}

.main {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 16px;
}
.button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 35px;
  height: 35px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition-duration: 0.3s;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.199);
  background-color: transparent;
  border: 3px solid #e65353;
}
/* hover effect on button width */
.button:hover {
  width: 100px;
  border-radius: 8px;
  transition-duration: 0.3s;
}
.delete {
  color: #f5440f;
}
