.ul {
  width: 100%;
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
}
.li {
  border-radius: 4px;
  border: 1px solid var(--text-secondary);
}
.li,
.header_li {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 16px;
}
.header_li {
  align-items: flex-start;
  border-bottom: 1px solid var(--text-secondary);
}
.header {
  color: var(--text-secondary);
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  gap: 8px;
  padding: 8px 16px;
}
.article {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.aside {
  width: 100%;
  padding: 0 32px 32px 32px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
  gap: 16px;
  color: var(--text-secondary);
}
.aside p {
  align-self: flex-start;
}
.table {
  width: 100%;
  font-size: clamp(16px, 3vw, 20px);
  border-spacing: 0 8px;
  border-bottom: 1px solid var(--text-secondary);
  border-top: 1px solid var(--text-secondary);
}
.table td {
  text-align: end;
}
.open_button,
.delete_button {
  font-size: clamp(16px, 3vw, 20px);
  cursor: pointer;
  padding: 4px 16px;
  border-radius: 4px;
  transition: all 0.3s ease-in-out;
}
.open_button {
  border: 2px solid var(--bg-card-3);
  color: var(--text-secondary);
  background-color: var(--bg-card-3);
}
.delete_button {
  font-size: clamp(16px, 3vw, 20px);
  color: var(--text-secondary);
  border: 2px solid var(--text-secondary);
  background-color: transparent;
}
.open_button:hover {
  transform: translateY(-4px);
  color: var(--text-primary);
  box-shadow: var(--shadow);
}
.delete_button:hover {
  transform: translateY(-4px);
  color: var(--color-error);
  border: 2px solid var(--color-error);
  box-shadow: var(--shadow);
}
.span {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 8px;
}

.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}
