.section {
  width: 100%;
  height: -webkit-fill-available;
}
.wrapper {
  padding: 32px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 32px;
}
.header {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  font-size: clamp(23px, 4.5vw, 36px);
  color: var(--text-secondary);
}
