.ul {
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 64px;
  max-width: 1600px;
}
.card {
  height: -webkit-fill-available;
  max-width: 450px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 16px;
  list-style: none;
  cursor: pointer;
  position: relative;
}
.card:hover {
  box-shadow: none;
}
.title {
  font-size: clamp(18px, 3.5vw, 26px);
  font-weight: 600;
  margin-bottom: 8px;
  color: var(--text-primary);
}
.icon {
  position: absolute;
  z-index: -1;
  opacity: 0.1;
  right: 16px;
  bottom: 16px;
}

.text {
  color: var(--text-secondary);
  flex-grow: 1;
}
.cta {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
  transition: all 0.3s ease-in-out;
}
.cta:hover {
  color: var(--brand-primary);
}
