.section {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 8px;
}
.form,
.header,
.section_aside {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 32px;
}
.form,
.section_aside {
  padding: 32px;
  background: rgba(185, 189, 193, 0.1);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(185, 189, 193, 0.18);
  border-radius: 8px;
}
.section_aside {
  width: 100%;
}
.div,
.article {
  width: 100%;
  margin-top: 12px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 600px;
}
.header_article {
  width: 600px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 16px;
}
.header_div {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 16px;
}
.percent_div {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}
.active_div {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 16px;
}
.label {
  max-width: 300px;
  font-family: var(--font-roboto);
  font-size: clamp(16px, 3vw, 20px);
  color: #f9f9f9;
}
.input {
  background-color: transparent;
  font-size: clamp(16px, 3vw, 20px);
  color: #f9f9f9;
  border: 1px solid rgba(97, 96, 96, 0.911);
  padding: 4px;
  text-align: end;
  border-radius: 4px;
}
.div_small {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 16px;
  width: 300px;
}
.date_input {
  border: none;
  outline: none;
  background: #303030;
  color: inherit;
  font-family: var(--font-roboto);
  box-shadow: none;
  padding: 8px 16px;
  transition: border 0.2s;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  font-size: clamp(14px, 3vw, 18px);
  cursor: pointer;
}
.date_input::-webkit-calendar-picker-indicator {
  background-color: #ffffff63;
  padding: 5px;
  cursor: pointer;
  border-radius: 3px;
}
.date_input:focus {
  border: none;
}
.date_input::placeholder,
.date_input::after {
  color: #f9f9f9;
  opacity: 1;
}
.button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  padding: 8px 32px;
  border-radius: 4px;
  background: rgba(103, 103, 103, 0.199);
  border: 1px solid rgba(103, 103, 103, 0.514);
  transition: all 0.2s ease-in-out;
  width: fit-content;
  font-size: clamp(14px, 3vw, 18px);
  cursor: pointer;
  margin: 32px 0;
  color: #f9f9f9;
}
.button:hover {
  background: #2c6aefe5;
  border: 1px solid #2c6aefaf;
  color: var(--font-color-white);
}
.switch {
  position: relative;
  width: 52px;
  height: 28px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #bdcff83b;
  transition: 0.4s;
  border-radius: 28px;
  border: 1px solid rgba(158, 189, 255, 0.39);
}

.slider:before {
  position: absolute;
  content: "";
  height: 22px;
  width: 22px;
  left: 1px;
  bottom: 1px;
  background-color: #2c6aefe5;
  transition: 0.4s;
  border-radius: 50%;
  border: 1px solid #9ebdff67;
}

.switch input:checked + .slider {
  background-color: #2c6aefe5;
}

.switch input:checked + .slider:before {
  transform: translateX(24px);
  background-color: white;
}
.input[type="number"]::-webkit-outer-spin-button,
.input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
