.section {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}
.icon {
  background-color: transparent;
  border: none;
  font-size: 24px;
}
.button {
  width: 100%;
}
.dropdown {
  position: relative;
}
.menu {
  list-style: none;
  margin: 10px 0 0;
  padding: 12px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  position: absolute;
  right: 0;
  top: 110%;
  z-index: 10;
  min-width: 180px;
}
.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  flex-wrap: wrap;
}
